In [1]:
#dependencies
import pandas as pd

In [2]:
#read the CSV files
#Read CSV file 
hawaii_measurements = pd.read_csv("Resources/Data/hawaii_measurements.csv")
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
#get hawaii measurements count of rows with missing data
hawaii_measurements.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [4]:
#get counts of unique values in a column
hawaii_measurements["prcp"].value_counts

<bound method IndexOpsMixin.value_counts of 0        0.08
1        0.00
2        0.00
3        0.00
4         NaN
5        0.06
6        0.00
7        0.00
8        0.00
9        0.01
10       0.00
11       0.00
12       0.00
13       0.00
14       0.00
15       0.00
16       0.00
17       0.00
18       0.00
19       0.00
20       0.00
21       0.01
22       0.00
23       0.04
24       0.12
25       0.00
26        NaN
27       0.03
28       0.01
29        NaN
         ...
19520    0.84
19521    0.30
19522    0.30
19523    0.00
19524    0.40
19525    0.30
19526    0.30
19527    0.00
19528     NaN
19529    0.25
19530    0.06
19531     NaN
19532     NaN
19533    0.05
19534    0.34
19535    0.15
19536    0.07
19537     NaN
19538    0.14
19539     NaN
19540    0.22
19541    0.42
19542    0.42
19543    0.13
19544     NaN
19545    0.09
19546     NaN
19547    0.56
19548    0.50
19549    0.45
Name: prcp, Length: 19550, dtype: float64>

In [5]:
#missing some precipitation data; set the nAn values to 0
hawaii_measurements.fillna(0.0, inplace=True)

In [6]:
#verify
#hawaii_measurements["prcp"].value_counts
hawaii_measurements.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [7]:
#save clean file
hawaii_measurements.to_csv("Resources/Data/clean_hawaii_measurements.csv", index=False, header=True)

In [8]:
hawaii_stations = pd.read_csv("Resources/Data/hawaii_stations.csv")
hawaii_stations

,station,name,latitude,longitude,elevation,location
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0,POINT(21.2716 -157.8168)
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6,POINT(21.4234 -157.8015)
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0,POINT(21.5213 -157.8374)
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9,POINT(21.3934 -157.9751)
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6,POINT(21.4992 -158.0111)
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5,POINT(21.33556 -157.71139)
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9,POINT(21.45167 -157.84889)
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9,POINT(21.3152 -157.9992)
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4,POINT(21.3331 -157.8025)

In [9]:
#get hawaii stations count of rows with missing data 
hawaii_stations.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
location     9
dtype: int64

In [10]:
#hawaii stations looks complete; no missing data; save to clean file
hawaii_stations.to_csv("Resources/Data/clean_hawaii_stations.csv", index=False, header=True)